/*** uncss> filename: css/main.min.css ***/

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

body {
  margin: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

a {
  background: 0 0;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
}

::selection {
  background: #b3d4fc;
}

@font-face {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'),url(../fonts/inconsolata-v10-latin-regular.woff2)format('woff2'),url(../fonts/inconsolata-v10-latin-regular.woff)format('woff');
}

::-moz-selection {
  background-color: rgba(67,77,91,.99);
  text-shadow: none;
}

::selection {
  background-color: rgba(67,77,91,.99);
  text-shadow: none;
}

body {
  font-size: 1em;
  line-height: 1.4;
  background: #2c333d;
  border-right: 1px solid grey;
  color: #d2d8e1;
  font-family: Inconsolata,Consolas,monaco,monospace;
  max-width: 90ch;
  min-height: 100%;
  padding: 0 50px;
}

body a,
body a:link,
body a:visited {
  color: #f0d879;
  text-decoration: none;
}

body a:hover {
  color: #edd162;
}

body .tag {
  color: #5ab8e5;
}

body .keyword {
  color: #7dcbc4;
}

body .values {
  color: #ec9076;
}

body .values a {
  color: inherit;
  text-decoration: none;
}

body .values a:hover {
  color: #e97e60;
}

body h1,
body h2 {
  font-weight: 400;
}

body h1 {
  margin-top: 0;
  padding-top: 20px;
}

body ul {
  list-style: none;
  padding-left: 25px;
}

@media print {
  * {
    background: 0 0!important;
    color: #000!important;
    box-shadow: none!important;
    text-shadow: none!important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href)")";
  }

@page {
    margin: .5cm;
}

  h2,
  p {
    orphans: 3;
    widows: 3;
  }

  h2 {
    page-break-after: avoid;
  }
}
